body {
    background-image: url('Images/world.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
 
}

h1{text-align: center;}
footer{text-align: center;}